*{
    margin: 0;
    padding: 0;
}
#mainContainer{
    width: 200px;
    height: 200px;
    display: flex;
}
#square1{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #7a45e5;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0s;

}
#square2{
    width: 100px;
    background-color: #fa5667;
    position: absolute;
    height: 100px;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: -0.5s;
}

#square3{
    width: 100px;
    height: 100px;
    background-color: #fac24c;
    animation-name: rotation; 
       position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: -1s;
}

#square4{
    width: 100px;
    height: 100px;
    background-color: #1b91f7;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: -1.5s;
}

@keyframes rotation {
    0% {
        transform: translate(0%, 0%)
    }

    25% {
        transform: translate(0%, 100%)
    }

    50% {
        transform: translate(100%, 100%)
    }

    75% {
        transform: translate(100%, 0%)
    }
}
